# NAME : MUHAMMAD TAAHA ASIF 
# ROLL NO : 050 
# SECTION BSDS : 3A

In [41]:
import pandas as  pd 
import numpy as np

In [42]:
df = pd.read_csv(r"c:\Users\Win\Downloads\diabetes_with_strings.csv")

In [43]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [44]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Comment
0,6,148,72,35,0,33.6,0.627,50,1,Note_1
1,1,85,66,29,0,26.6,0.351,31,0,Note_2
2,8,183,64,0,0,23.3,0.672,32,1,Note_3
3,1,89,66,23,94,28.1,0.167,21,0,Note_4
4,0,137,40,35,168,43.1,2.288,33,1,Note_5

In [45]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Comment
763,10,101,76,48,180,32.9,0.171,63,0,Note_764
764,2,122,70,27,0,36.8,0.340,27,0,Note_765
765,5,121,72,23,112,26.2,0.245,30,0,Note_766
766,1,126,60,0,0,30.1,0.349,47,1,Note_767
767,1,93,70,31,0,30.4,0.315,23,0,Note_768

In [46]:
for col in df.columns:
    print(f"{col}: {df[col].nunique()} unique values")

Pregnancies: 17 unique values
Glucose: 136 unique values
BloodPressure: 47 unique values
SkinThickness: 51 unique values
Insulin: 186 unique values
BMI: 248 unique values
DiabetesPedigreeFunction: 517 unique values
Age: 52 unique values
Outcome: 2 unique values
Comment: 768 unique values

In [47]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome', 'Comment'],
      dtype='object')

In [48]:
df.shape

(768, 10)

In [49]:
df =df.replace(0, np.nan)

In [50]:
null_values = np.sum(pd.isnull(df))
print("Total Null Values:", null_values)

Total Null Values: Pregnancies                 111
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                     500
Comment                       0
dtype: int64

c:\Users\Win\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\_core\fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

In [51]:
df['Pregnancies'] = df['Pregnancies'].fillna(99)
df['Glucose'] = df['Glucose'].fillna(101)
df['BloodPressure'] = df['BloodPressure'].fillna(65)
df['SkinThickness'] = df['SkinThickness'].fillna(34)
df["Insulin"] = df['Insulin'].fillna(100)
df['BMI'] = df['BMI'].fillna(23.8)
df['Outcome'] = df['Outcome'].fillna(1)

In [52]:
df = df.drop('BMI',axis=1)

In [53]:
df.dtypes

Pregnancies                 float64
Glucose                     float64
BloodPressure               float64
SkinThickness               float64
Insulin                     float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                     float64
Comment                      object
dtype: object

In [ ]:

x = df.iloc[:, 0:-1]
print("X shape:", x.shape)

y = df.iloc[:, -1]
print("Y shape:", y.shape)

X shape: (768, 8)
Y shape: (768,)

In [57]:
# Find all object columns
cat_columns = df.select_dtypes(['object']).columns

# Convert them into integers
df[cat_columns] = df[cat_columns].apply(lambda col: pd.factorize(col)[0])

In [58]:
df.dtypes

Pregnancies                 float64
Glucose                     float64
BloodPressure               float64
SkinThickness               float64
Insulin                     float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                     float64
Comment                       int64
dtype: object